# Default owner
*   @klaviyo/mobile-app-growth

# Push related files
src/Push.ts                  @klaviyo/mobile-app-growth @klaviyo/push-team
src/NativeKlaviyoReactNativeSdk.ts       @klaviyo/mobile-app-growth @klaviyo/push-team
src/index.tsx                 @klaviyo/mobile-app-growth @klaviyo/push-team
