name: Documentation Bot

on:
  push:
    branches:
      - master

permissions:
  contents: write
  pull-requests: write

jobs:

  generate-documentation:
    runs-on: ubuntu-22.04
    env:
      CI_COMMIT_MESSAGE: Generated docs for ${{ github.sha }}
      GH_TOKEN: ${{ secrets.GH_ACTION_ACCESS_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: documentation
          fetch-depth: 0
          token: ${{ secrets.GH_ACTION_ACCESS_TOKEN }}
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git fetch origin master

      - name: Merge latest from master
        run: |
          git merge origin/master --commit --no-edit --strategy-option theirs

      - name: Setup
        uses: ./.github/actions/setup

      - name: Generate docs
        run: |
          yarn generate-docs

      - name: Commit and push docs
        run: |
          if [ $(git status -s -uno | wc -l) -eq 0 ]; then
            echo "No documentation to change"
            exit 0
          fi

          git add docs
          git commit -m "${{ env.CI_COMMIT_MESSAGE }}"
          git push
