name: CI

on:
  push:
    branches:
      - master

permissions:
  contents: write
  pull-requests: write

jobs:

  generate-documentation:
    # Only run on master branch push (e.g. after pull request merge).
    if: github.event_name == 'push'
    runs-on: ubuntu-22.04
    env:
      CI_COMMIT_MESSAGE: Generated docs for ${{ github.sha }}
      GH_TOKEN: ${{ github.token }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: documentation
          fetch-depth: 0

      - name: Setup
        uses: ./.github/actions/setup

      - name: Git config
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git fetch origin

      - name: Create branch for docs PR
        run: |
          git checkout -b "documentation-${{ github.sha }}"
          git merge origin/master --no-edit --strategy-option theirs

      - name: Generate docs
        run: |
          yarn generate-docs

      - name: Commit and push docs
        run: |
          if [ $(git status -s -uno | wc -l) -eq 0 ]; then
            echo "No documentation to change"
            exit 0
          fi

          git add docs
          git commit -m "${{ env.CI_COMMIT_MESSAGE }}"
          git push -u origin "documentation-${{ github.sha }}"

      - name: Create PR for doc updates
        run: |
          gh pr create --title "Generated Docs for \"$(git show -s --format=%B ${{ github.sha }})\"" --body "This PR was automatically generated by a GitHub Action for ${{ github.sha }}." -B "documentation" -H "documentation-${{ github.sha }}"
